@using EventManagement.Helper
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject SignInManager<User> SigninManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var uid = session.GetString("UID");
    User usr = null;

    if (!string.IsNullOrEmpty(uid))
    {
        if (session.Get<User>("UserData") == null)
        {
            // Replace this with your actual API call to get the user by ID
            usr = await UserManager.FindByIdAsync(uid);
            if (usr != null)
            {
                session.Set("UserData", usr);
            }
        }
        else
        {
            usr = session.Get<User>("UserData");
        }
    }

    var isLoggedIn = usr != null;
}

<html lang="en" style="height: auto;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Event Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link rel="stylesheet" href="/themeAssets/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/themeAssets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="/themeAssets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/themeAssets/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="/themeAssets/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/themeAssets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/themeAssets/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/themeAssets/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="/themeAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/themeAssets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/themeAssets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

</head>
<body class="sidebar-mini layout-fixed" style="height: auto;">
    <div b-ct0d71z9yb="" class="wrapper">
        <div b-ct0d71z9yb="" class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
            <img class="animation__shake" src="/img/tkt-logo.png" alt="TKT Church Logo" height="60" width="60" style="display: none;">
        </div>
        <nav b-ct0d71z9yb="" class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul b-ct0d71z9yb="" class="navbar-nav">
                <li b-ct0d71z9yb="" class="nav-item">
                    <a b-ct0d71z9yb="" class="nav-link" data-widget="pushmenu" href="#" role="button"><i b-ct0d71z9yb="" class="fas fa-bars"></i></a>
                </li>

            </ul>
            <ul b-ct0d71z9yb="" class="navbar-nav ml-auto">
                <li b-ct0d71z9yb="" class="nav-item">
                    <a b-ct0d71z9yb="" class="nav-link" data-toggle="dropdown" href="#">
                        <p b-ct0d71z9yb="" id="dt">01-Jun-2024 01:27 PM</p>
                    </a>
                </li>
                <li b-ct0d71z9yb="" class="nav-item dropdown">
                    <a b-ct0d71z9yb="" class="nav-link" data-toggle="dropdown" href="#">
                        <p b-ct0d71z9yb="" id="userName">@(usr.FirstName+" "+usr.LastName)</p>
                    </a>
                    <div b-ct0d71z9yb="" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <div b-ct0d71z9yb="" class="dropdown-divider"></div>
                        <a b-ct0d71z9yb="" href="/Account/Logout" class="dropdown-item">
                            <i b-ct0d71z9yb="" class="fas fa-user mr-2"></i> Logout
                        </a>
                    </div>
                </li>
                <li b-ct0d71z9yb="" class="nav-item">
                    <a b-ct0d71z9yb="" class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i b-ct0d71z9yb="" class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <aside b-ct0d71z9yb="" class="main-sidebar sidebar-dark-primary elevation-4">
            <a b-ct0d71z9yb="" href="#" class="brand-link">
                <img src="/img/tkt-logo.png" alt="TKT Church Logo" class="brand-image elevation-3" style="opacity: .8">
                <span b-ct0d71z9yb="" class="brand-text font-weight-light">TKT&nbsp;Church</span>
            </a>
            <div b-ct0d71z9yb="" class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
                <div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 360px;"></div><div class="os-padding">
                    <div class="os-viewport os-viewport-native-scrollbars-invisible">
                        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                            <div b-ct0d71z9yb="" class="user-panel mt-3 pb-3 mb-3 d-flex">
                                <div b-ct0d71z9yb="" class="image">
                                    <img src="data:image/png;base64,@(usr.Photo)" class="img-circle elevation-2" alt="User Image">
                                </div>
                                <div b-ct0d71z9yb="" class="info">
                                    <a b-ct0d71z9yb="" href="#" id="lblUserName" class="d-block">@(usr.FirstName +" "+ usr.LastName)</a>
                                </div>
                            </div>
                            <nav b-ct0d71z9yb="" class="mt-2">
                                <ul b-ct0d71z9yb="" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                    <li b-ct0d71z9yb="" class="nav-item">
                                        <a b-ct0d71z9yb="" href="/Home" class="nav-link">
                                            <i b-ct0d71z9yb="" class="nav-icon fas fa-users"></i>
                                            <p b-ct0d71z9yb="">Users</p>
                                        </a>
                                    </li>
                                    <li b-ct0d71z9yb="" class="nav-item">
                                        <a b-ct0d71z9yb="" href="/Home/Events" class="nav-link">
                                            <i b-ct0d71z9yb="" class="nav-icon far fa-calendar-alt"></i>
                                            <p b-ct0d71z9yb="">Events</p>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div>
            </div>
        </aside>
        <div b-ct0d71z9yb="" class="content-wrapper" style="min-height: 304.4px;">
           @RenderBody();
        </div>
        <footer b-ct0d71z9yb="" class="main-footer">
            <strong b-ct0d71z9yb="">Copyright © 2024 <a b-ct0d71z9yb="" href="technfc.com">Technfc</a>.</strong>
            All rights reserved.
            <div b-ct0d71z9yb="" class="float-right d-none d-sm-inline-block">
                <b b-ct0d71z9yb="">Version</b> A1.A0.A3.A7
            </div>
        </footer>
        <aside b-ct0d71z9yb="" class="control-sidebar control-sidebar-dark">
            <div class="p-3 control-sidebar-content"><h5>Customize AdminLTE</h5><hr class="mb-2"><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Dark Mode</span></div><h6>Header Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Dropdown Legacy Offset</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>No border</span></div><h6>Sidebar Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Collapsed</span></div><div class="mb-1"><input type="checkbox" value="1" checked="checked" class="mr-1"><span>Fixed</span></div><div class="mb-1"><input type="checkbox" value="1" checked="checked" class="mr-1"><span>Sidebar Mini</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Mini MD</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Mini XS</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Flat Style</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Legacy Style</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Compact</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Child Indent</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Child Hide on Collapse</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Disable Hover/Focus Auto-Expand</span></div><h6>Footer Options</h6><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span></div><h6>Small Text Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Body</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Navbar</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Brand</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Nav</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Footer</span></div><h6>Navbar Variants</h6><div class="d-flex"><select class="custom-select mb-3 text-light border-0 bg-white"><option class="bg-primary">Primary</option><option class="bg-secondary">Secondary</option><option class="bg-info">Info</option><option class="bg-success">Success</option><option class="bg-danger">Danger</option><option class="bg-indigo">Indigo</option><option class="bg-purple">Purple</option><option class="bg-pink">Pink</option><option class="bg-navy">Navy</option><option class="bg-lightblue">Lightblue</option><option class="bg-teal">Teal</option><option class="bg-cyan">Cyan</option><option class="bg-dark">Dark</option><option class="bg-gray-dark">Gray dark</option><option class="bg-gray">Gray</option><option class="bg-light">Light</option><option class="bg-warning">Warning</option><option class="bg-white">White</option><option class="bg-orange">Orange</option></select></div><h6>Accent Color Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Dark Sidebar Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 text-light border-0 bg-primary"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Light Sidebar Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Brand Logo Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-secondary">Secondary</option><option class="bg-info">Info</option><option class="bg-success">Success</option><option class="bg-danger">Danger</option><option class="bg-indigo">Indigo</option><option class="bg-purple">Purple</option><option class="bg-pink">Pink</option><option class="bg-navy">Navy</option><option class="bg-lightblue">Lightblue</option><option class="bg-teal">Teal</option><option class="bg-cyan">Cyan</option><option class="bg-dark">Dark</option><option class="bg-gray-dark">Gray dark</option><option class="bg-gray">Gray</option><option class="bg-light">Light</option><option class="bg-warning">Warning</option><option class="bg-white">White</option><option class="bg-orange">Orange</option><a href="#">clear</a></select></div>
        </aside>
        <div id="sidebar-overlay"></div>
    </div>
    <script src="/themeAssets/plugins/jquery/jquery.min.js"></script>
    <script src="/themeAssets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="/themeAssets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/themeAssets/plugins/chart.js/Chart.min.js"></script>
    <script src="/themeAssets/plugins/sparklines/sparkline.js"></script>
    <script src="/themeAssets/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/themeAssets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="/themeAssets/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="/themeAssets/plugins/moment/moment.min.js"></script>
    <script src="/themeAssets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/themeAssets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/themeAssets/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="/themeAssets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/themeAssets/dist/js/adminlte.js"></script>
    <script src="/themeAssets/dist/js/demo.js"></script>
    <script src="/themeAssets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/themeAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/themeAssets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/themeAssets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/themeAssets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/themeAssets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/themeAssets/plugins/jszip/jszip.min.js"></script>
    <script src="/themeAssets/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/themeAssets/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/themeAssets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/themeAssets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/themeAssets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="/themeAssets/dist/js/pages/dashboard.js"></script>
    <script src="/js/diaz-validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/themeAssets/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <div class="jqvmap-label" style="display: none;"></div>
    <script>

        $(document).ready(function () {
            debugger;
            var isLoggedIn = @isLoggedIn.ToString().ToLower();
            if (!isLoggedIn)
                window.location.href = "/Account/Index";
        })

        var suser = @Html.Raw(Json.Serialize(usr));

        const DATE_DISPLAY_FORMAT = 'DD-MMM-YYYY';
        const DATETIME_DISPLAY_FORMAT = 'DD-MMM-YYYY hh:mm A';
        const FORMAT_DATE = d => moment(d).format(DATE_DISPLAY_FORMAT);
        const FORMAT_DATETIME = d => moment(d).format(DATETIME_DISPLAY_FORMAT);
        function ToggleLoader(show = true) {
            window.setTimeout(() => {
                $('#loader')[show ? 'show' : 'hide']();
            }, 500)
        }
        function ValidateForm() {
            let isValid = true;
            $("[validation]").each(function () {
                isValid = validateInput($(this)) && isValid;
            });
            return isValid;
        }

        window.setInterval(_ => $('#dt').text(moment().format(DATETIME_DISPLAY_FORMAT)), 500);
        var UserAuth = {
            // Method to check if UID and user data are present
            isUserAuthenticated: function () {
                var uid = sessionStorage.getItem('UID');
                var userData = sessionStorage.getItem('UserData');
                return uid !== null && userData !== null;
            },

            // Method to get the UID
            getUID: function () {
                return sessionStorage.getItem('UID');
            },

            // Method to get the user data
            getUserData: function () {
                var userData = sessionStorage.getItem('UserData');
                return userData ? JSON.parse(userData) : null;
            },

            // Method to set the UID
            setUID: function (uid) {
                sessionStorage.setItem('UID', uid);
            },

            // Method to set the user data
            setUserData: function (userData) {
                sessionStorage.setItem('UserData', JSON.stringify(userData));
            },

            // Method to clear user data and UID from session storage
            clearAuthData: function () {
                sessionStorage.removeItem('UID');
                sessionStorage.removeItem('UserData');
            }
        };

    </script>
</body>
</html>